.userCard {
  padding: 18px 20px 40px;
  border-radius: 30px;
  background-color: var(--bg-secondary);
}

@media screen and (min-width: 768px) {
  .userCard {
    padding: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .userCard {
    width: 520px;
  }
}
