.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  border-radius: 30px;
  margin: 40px 0;
  background-color: var(--bg-accent-yellow);
}
.selectsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.resetButton {
  display: block;
  background-color: var(--color-accent);
  color: var(--bg-secondary);
  padding: 8px 16px;
  border-radius: 30px;
  width: 96px;
  margin-left: auto;
  transition: var(--transition);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-bg);
    color: var(--bg-secondary);
  }
}

@media screen and (min-width: 768px) {
  .filtersContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 40px 32px;
    margin-top: 44px;
    margin-bottom: 32px;
  }
  .selectsWrapper {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .filtersContainer {
    padding: 40px;
    margin: 40px 0;
  }
}
