.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
  .padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .padding-vertical {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .padding-64 {
    padding: 0 64px;
  }
}
