.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  color: var(--color-text-primary);
}
.userAvatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  min-width: 80px;
  min-height: 80px;
  background-color: var(--bg-accent-yellow);
}
.userIcon {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: var(--bg-accent-yellow);
  fill: var(--color-accent);
  stroke-width: 2px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.uploadBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  position: relative;
}
.avatarUrlInput {
  width: 100%;
  border: 1px solid var(--color-accent);
  border-radius: 30px;
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--color-text-dark);
}
.avatarFile {
  position: relative;
}
.avatarFileInput {
  width: 126px;
}
.avatarFileInput::-webkit-file-upload-button {
  opacity: 0;
  visibility: hidden;
  width: 1px;
}
.avatarFileInput::before {
  content: 'Upload photo';
  width: 126px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  padding-left: 12px;
  color: var(--color-text-dark);
  background-color: var(--bg-accent-yellow);
  transition: var(--transition);

  &:hover {
    color: var(--color-accent);
    background-color: var(--btn-hover-bg);
  }
}
.uploadIcon {
  position: absolute;
  top: 0;
  right: 14px;
}
.editUInput {
  border: 1px solid var(--color-accent);
  border-radius: 30px;
  width: 100%;
  padding: 12px;
  height: 42px;
}
.saveBtn {
  width: 100%;
  height: 42px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.03em;
  transition: var(--transition);
  color: var(--bg-secondary);
  background-color: var(--color-accent);

  &:hover {
    color: var(--color-accent);
    background-color: var(--btn-hover-bg);
  }
}
.avatarUrlWrapper {
  position: relative;
  width: 100%;
}
.errorsEditUserAvatar {
  display: block;
  align-self: flex-start;
  color: var(--color-error);
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.errorsEditUser {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  align-self: flex-start;
  color: var(--color-error);
}
