.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: var(--color-text-dark);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 54px;
    letter-spacing: -0.03em;
  }
}
