.logo {
  width: 76px;
  height: 20px;
  transition: transform var(--transition);

  &:hover {
    transform: scale(1.1);
  }
}
.icon {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 106px;
    height: 28px;
  }
  .icon {
    width: 36px;
    height: 36px;
  }
}
