.header {
  width: 100%;
  position: absolute;
}
.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 28px;
}
.hamburger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
.icon {
  width: 32px;
  height: 32px;
  stroke: var(--color-icon);
}
.whiteIcon {
  --color-icon: var(--bg-secondary);
}

.blackIcon {
  --color-icon: var(--color-text-dark);
}
.desktopHeader {
  display: none;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .mobileHeader {
    display: none;
  }
  .homeHeader {
    top: 16px;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: transparent;
    margin: 0 auto;
  }
  .desktopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 64px;
  }
}
