.header {
  width: 100%;
  position: absolute;
}
.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 28px;
}
.hamburger {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
.desktopHeader {
  display: none;
}

@media screen and (min-width: 1280px) {
  .mobileHeader {
    display: none;
  }
  .homeHeader {
    top: 16px;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: transparent;
    margin: 0 auto;
  }
}
