.userBoxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userBox {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  padding: 10px 14px;
  background-color: var(--color-accent);
  color: var(--bg-secondary);
}
.userBox svg {
  fill: var(--bg-secondary);
  stroke-width: 2px;
  stroke: var(--bg-secondary);
}
.userBox p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--bg-secondary);
}
.editBtn {
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-color: var(--bg-accent-yellow);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--btn-hover-bg);
  }
}
