.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-border);
  border-radius: 30px;
  width: 119px;
  height: 48px;
  font-size: 14px;
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.active {
  border: 1px solid var(--color-accent);
  color: var(--color-text-dark);
  width: 119px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .link {
    width: 119px;
    height: 50px;
  }
  .active {
    width: 120px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .link:not(.active) {
    border: 1px solid var(--color-gray-border);
  }
  .link.white {
    border: 1px solid var(--color-text-span-light);
    color: var(--bg-secondary);
  }
  .link {
    font-size: 16px;
    line-height: 1.25;
  }
  .active {
    border: 1px solid var(--color-accent);
    color: var(--color-text-dark);
    padding: 15px 40px;
  }
  .white {
    color: var(--bg-secondary);
  }
  .black {
    color: var(--color-text-dark);
  }
}
