.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-border);
  border-radius: 30px;
  width: 119px;
  height: 48px;
  font-size: 14px;
  letter-spacing: -0.03em;
  white-space: nowrap;
  transition: border var(--transition), color var(--transition);
}
.blackLink {
  border: 1px solid var(--color-text-span-light);
  color: var(--bg-secondary);
}
.active {
  border: 1px solid var(--bg-secondary);
}

@media screen and (min-width: 768px) {
  .link {
    width: 119px;
    height: 50px;
  }
  .active {
    width: 120px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    flex-direction: row;
    align-items: center;
  }
  .link {
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-text-dark);
    border: 1px solid var(--color-gray-border);
    transition: border var(--transition);

    &:hover,
    &:focus {
      border: 1px solid var(--color-accent);
    }
  }
  .link.whiteLink {
    border: 1px solid var(--color-text-span-light);
    color: var(--bg-secondary);

    &:hover,
    &:focus {
      border: 1px solid var(--bg-secondary);
    }
  }
  .active {
    border: 1px solid var(--color-accent);
    padding: 15px 40px;
  }
}
