.wrapper {
  position: relative;
  width: 100%;
}
.input {
  position: relative;
  border: 1px solid var(--color-gray-border);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--color-text-dark);
  transition: border var(--transition);

  &:hover,
  &:focus {
    border: 1px solid var(--color-accent);
  }
}
.input::placeholder {
  font-weight: 500;
  color: var(--color-gray-light);
}
.button,
.clearButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.clearButton {
  right: 36px;
}
.icon {
  width: 18px;
  height: 18px;
  stroke: var(--color-text-dark);
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 230px;
  }
  .input {
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
  }
}
